<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113527672110-5j1o8269un4d5ov8c4l9eqrc2uhpmeab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113527672110-5j1o8269un4d5ov8c4l9eqrc2uhpmeab</string>
	<key>API_KEY</key>
	<string>AIzaSyCugBTHfc8RumaYx3xnnwpDoqyse3zfM4I</string>
	<key>GCM_SENDER_ID</key>
	<string>113527672110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.lizarraga.lesson09</string>
	<key>PROJECT_ID</key>
	<string>flutter-cognos</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-cognos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113527672110:ios:3d514928656607f47bfebf</string>
</dict>
</plist>